.background-alternate {
    background-color: #D3F2FF;
    padding: 2.5vh;
}

.carousel-tag {
    text-align: center;
}

.education-background {
    background-color: #D3F2FF;
}

.about-heading {
    margin-left: 15vw;
  }
  

.about-heading-line {
    width: 50%;
    margin-left: 10vw;
    margin-right: auto;
}

.linkedin-heading {
    margin: 2.5vw;
    margin-left: 7.5vw;
}

.linkedin-heading-line {
    margin-bottom: 2.5vw;
    width: 80%;
}