.biography {
  display: flex;
  flex-wrap: wrap; /* Allows the items to wrap to the next line if there's not enough space */
}

.div1 {
  flex: 1;  /* You can adjust these values to allocate space as needed */
  padding: 2.5vw;
  padding-left: 10vw;
  margin-right: 10vw;
  margin-top: 10vw;
  margin-bottom: 10vw;
  background-color: #D3F2FF;
}

.biography-card {
  background-color: #fffffe;
  border-radius: 5px; /* Barely rounded corners */
  padding: 16px;
  margin: 16px;

}

.div2 {
  flex: 1;  /* You can adjust these values to allocate space as needed */
  margin: 10vw;
}


.div2 img {
  max-width: 100%;
  height: 60vh; /* Adjusts the height automatically based on the width to maintain the image's aspect ratio */
}

p {
  font-size: clamp(12px, 2vw, 18px); 
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .biography {
      flex-direction: column; /* Stack the children vertically */
  }

  .div1, .div2 {
      margin: 2.5vw; /* Adjust margin for smaller screens */
      flex: 100%; /* Makes each child take up 100% of the width */
  }
}
