.biography {
    display: flex;
  }
  
  .div1 {
    flex: 1;  /* You can adjust these values to allocate space as needed */
    padding: 10px;
    margin: 7.5vw;
  }
  
  .div2 {
    flex: 1;  /* You can adjust these values to allocate space as needed */
    padding: 10px;
    margin: 7.5vw;
  }
  
  .div2 img {
    max-width: 100%;
    height: auto;
  }
  
  p {
    font-size: 1.5em;
  }