.svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Or you can set it to another value, like '100vh' */
    margin: 5vw;
  }

.skill-svg {
    border-left: 1px solid black;
    border-right: 1px solid black;
} 