.home {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 10vh;

}

.home__left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.resume-button {
  background-color: var(--active-button-color);
  color: var(--active-button-text-color);
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 7.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none; /* Removes underline */
}

a.resume-link {
  text-decoration: none;
  color: inherit; /* Ensures the color of the link text matches surrounding text */
}

.contact-button {
  text-decoration: underline;
  color: var(--active-text-color);
}

.home__left img {
  max-width: 90%;  /* Prevents the image from overflowing */
  height: auto;
}

.home__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligned left */
  text-align: left; /* Text aligned left */
  padding: 20px; /* adjust as needed for outer spacing */
}

.home__buttons {
  display: flex;
  align-items: center; /* Adjust as needed for space between elements */
}


/* ... (rest of your CSS) ... */

.home__right h1 {
  font-size: clamp(24px, 4vw, 48px); /* Adjust as needed */
}

.home__right p {
  font-size: clamp(16px, 2vw, 32px); /* Adjust as needed */
}

.home__left img {
  width: 40vw; /* Adjust as needed based on your design preference */
  min-width: 200px; /* Minimum width for the image */
  height: auto;
}

@media (max-width: 992px) {
  .home {
    flex-direction: column;
  }

  .home__right h1 {
    font-size: clamp(22px, 6vw, 44px); /* Adjust as needed */
  }

  .home__right p {
    font-size: clamp(14px, 4vw, 28px); /* Adjust as needed */
  }

  .home__left img {
    width: 60vw; /* Adjust as needed based on your design preference */
    min-width: 180px; /* Minimum width for the image */
  }
}

@media (max-width: 576px) {
  .home__right h1 {
    font-size: clamp(20px, 8vw, 40px); /* Adjust as needed */
  }

  .home__right p {
    font-size: clamp(12px, 5vw, 24px); /* Adjust as needed */
  }

  .home__left img {
    width: 80vw; /* Adjust as needed based on your design preference */
    min-width: 150px; /* Minimum width for the image */
  }
}
