.home {
  display: flex;
  width: 100%;
  align-items: center;
}

.home__left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.resume-button {
  background-color: var(--active-button-color);
  color: var(--active-button-text-color);
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 7.5px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none; /* Removes underline */
}

a.resume-link {
  text-decoration: none;
  color: inherit; /* Ensures the color of the link text matches surrounding text */
}

.contact-button {
  text-decoration: underline;
  color: var(--active-text-color);
}

.home__left img {
  max-width: 90%;  /* Prevents the image from overflowing */
  height: auto;
}

.home__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligned left */
  text-align: left; /* Text aligned left */
  padding: 20px; /* adjust as needed for outer spacing */
}

.home__buttons {
  display: flex;
  align-items: center; /* Adjust as needed for space between elements */
}


.home__right h1 {
  font-size: 4rem; /* Adjust as needed */
}

.home__right p {
  font-size: 2rem; /* Adjust as needed */
}

@media (max-width: 992px) {
  .home {
    flex-direction: column;
  }

  .home__right h1 {
    font-size: 1.5rem;
  }

  .home__right p {
    font-size: 1.2rem;
  }

  .home__left img {
    max-width: 70%;
  }
}

@media (max-width: 576px) {
  .home__right h1 {
    font-size: 1.2rem;
  }

  .home__right p {
    font-size: 1rem;
  }

  .home__left img {
    max-width: 50%;
  }
}
