.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5vh;
}
  
.navbar__buttons {
  display: flex;
}

.navbar__buttons button {
  margin-right: 1rem;
}

.navbar__buttons button:last-child {
  margin-right: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: clamp(12px, .85vw, 18px); /* Minimum: 12px, Preferred: .85vw, Maximum: 18px */
}

svg {
  font-size: clamp(20px, 1.5vw, 30px); /* Minimum: 20px, Preferred: 1.5vw, Maximum: 30px */
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  transition: transform 0.2s ease-out;
}

svg:hover {
  transform: translateY(-5px);
}

.navbar-item {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
  color: var(--active-text-color);
}

.navbar-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: var(--active-highlight-color);
  transition: width 0.2s ease-out;
}

.navbar-item:hover::after {
  width: 100%;
}

.navbar a {
  color: var(--active-highlight-color);
}
  
