footer {
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 1px solid var(--active-highlight-color);
}

.copyright {
  padding: 0.15em 1em;
  background-color: var(--background-secondary);
}

.copyright p {
  font-size: 0.7em;
  text-align: right;
}
